*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none !important;
}

.p-menuitem-link{
  text-decoration: none !important;
}

#header{
  text-decoration: none;

}

.row > .p-card .p-card-content{
  padding : 0px
}

@media (min-width: 1200px) {
  .xl\:col-4 .product {
    height: 290px;
  }
}

@media (min-width: 1200px) {
  .xl\:col-4 .product {
    height: 290px;
  }
  .border-1 .product{
    height: 290px;
  }
}



@media (max-width: 570px) {
  .p-rating-item {
    width: 10px;
  }

  .xl\:col-4 .product {
    width: 95vw;
  }

  .p-button-rounded{
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 1200px) {
  .sm\:col-6 .product .text-2xl {
    font-size : 1rem;
  }
  .img-fluid{
    max-width : 60%
  }
}



.quantityBtn {
  background-color: blanchedalmond;
  color: rgb(12, 12, 226);
}


@media (max-width: 768px) {
  .h5 {
    font-size: 16px; /* Adjust the font size as needed */
  }
  .quantity{
    width: 110px;
  }
 .quantity .p-button {
    width: 19px ;
  }
}


.popup-div .p-confirm-popup{
  top : 2%;
  left : 2%;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.row {
  --bs-gutter-x: 0px; /* Apply the custom gutter value to the row */
}

.checkout{
  padding : 5px
}